{
  "Index": {
    "Background": "Build"
  },
  "CompileFlags": {
    "Add": [
      "-xc++",
      "-Wmost",
      "-std=c++20",
      "-Wno-unused-const-variable",
      "-Wno-unused-variable",
      "-Wunused-but-set-variable"
    ],
    "Compiler": "clang++"
  },
  "Diagnostics": {
    "ClangTidy": {
      "Add": [
        "*"
      ],
      "Remove": [
        "abseil*",
        "fuchsia*",
        "llvmlib*",
        "zircon*",
        "altera*",
        "readability-identifier-length",
        "google-build-using-namespace",
        "misc-use-internal-linkage",
        "cppcoreguidelines-avoid-non-const-global-variables",
        "hicpp-avoid-c-arrays",
        "cppcoreguidelines-avoid-c-arrays",
        "cppcoreguidelines-pro-bounds-constant-array-index",
        "google-readability-braces-around-statements",
        "readability-braces-around-statements",
        "cppcoreguidelines-avoid-magic-numbers",
        "readability-implicit-bool-conversion",
        "cppcoreguidelines-init-variables",
        "hicpp-braces-around-statements",
        "readability-magic-numbers",
        "readability-isolate-declaration",
        "cppcoreguidelines-pro-bounds-pointer-arithmetic",
        "readability-misleading-indentation",
        "cppcoreguidelines-pro-bounds-array-to-pointer-decay",
        "hicpp-no-array-decay",
        "performance-avoid-endl",
        "cert-err58-cpp",
        "hicpp-uppercase-literal-suffix",
        "cert-dcl16-c",
        "readability-uppercase-literal-suffix",
        "modernize-avoid-c-arrays",
        "modernize-use-trailing-return-type",
        "misc-no-recursion",
        "readability-math-missing-parentheses",
        "readability-function-cognitive-complexity"
      ]
    }
  }
}
